body {
  background: #777;
  margin: 0;
  font: 14px Helvetica, Arial, Verdana, sans-serif;
}

* { box-sizing: border-box; }

.nosupport {
  display: block;
  margin: 80px auto;
  width: 400px;
}

.js .nosupport { display: none; }

.warning {
  color: #eeeeee;
  line-height: 1.6;
}

div.screen { display: none; }
.js div.active { display: block; }

.hidden { display: none; }


#stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
